{{ted-page-header
  subheading='Ember'
  slim-heading='TED'
  strong-heading='Modals'
  byline='Modal components, styled and mobile-first'
  github='http://github.com/tedconf/ember-ted-modals'}}

<div class="container">
  {{outlet}}
</div>
